/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 100%;
	height: auto;
}
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}
a, a > * {
	-webkit-transition: color .3s, background-color .3s;
	transition: color .3s, background-color .3s;
}
/* end/ RESET */

/* Fonts 
	font-family: 'Roboto Slab', serif;
	font-family: 'Titillium Web', sans-serif;
end/ Fonts */

html, body {
	width: 100%;
	height: 100%;
	font-family: "Titillium Web", sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #333;
	background-color: #f6f6f6;
}

/* MAIN MENU */
section#nav-mm {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 100;
}
	#nav-button {
		position: absolute;
		right: 30px;
		top: 30px;
	}
		a .nav-button-bar {
			width: 60px;
			height: 6px;
			display: block;
			background-color: #222;
			border-radius: 3px;
			margin: .7em 0;
		}
			#bar-1 {
				
			}
			#bar-2 {

			}
			#bar-3 {
				
			}
			a:hover .nav-button-bar {
				background-color: red;
			}
		#nav-button .bar {
			display: block;
			width: 34px;
			height: 2px;
			background-color: #ccc;
			position: relative;
			left: 24px;
		}
			#nav-button .bar-top {
				margin: 0 0 1.6em 0;
			}
			#nav-button .bar-bottom {
				margin: 1.6em 0 0 0;
			}
	#menu-wrapper {
		width: 100%;
		height: 100%;
		display: none;
		background-color: #fff;
	}
		#menu-logo {
			display: inline-block;
			width: 90px;
			padding-top: 4.25em;
		}
		nav {
			margin-top: 2.5em;
		}
			nav a {
				display: block;
				font-size: 4em;
				line-height: 1.25em;
				text-transform: uppercase;
				color: #333;
			}
				nav a:hover {
					color: #3e95ab;
				}
				nav a#btn-lang {
					font-size: .8em;
					margin-top: 4em;
					color: #3e95ab;
				}

/* CONTENT */
#wrapper {
	width: 96%;
	max-width: 1020px;
	margin: 0 auto;
}

/* ***** */
/* RESPONSIVE */
/* ***** */

@media screen and (max-width: 540px) {
	#nav-button {
		right: 12px;
		top: 12px;
	}
		a .nav-button-bar {
			width: 50px;
			height: 6px;
			border-radius: 3px;
			margin: .55em 0;
		}
		#nav-button .bar {
			left: 14px;
		}
			#nav-button .bar-top {
				margin: 0 0 1.25em 0;
			}
			#nav-button .bar-bottom {
				margin: 1.25em 0 0 0;
			}
		#menu-logo {
			padding-top: 3em;
		}
		nav {
			margin-top: 2em;
		}
			nav a {
				font-size: 3.25em;
				line-height: 1.25em;
			}
}

@media screen and (max-width: 375px) {
	#nav-button {
		right: 10px;
		top: 10px;
	}
		a .nav-button-bar {
			width: 40px;
			height: 6px;
			border-radius: 3px;
			margin: .42em 0;
		}
		#nav-button .bar {
			width: 24px;
		}
			#nav-button .bar-top {
				margin: 0 0 1.25em 0;
			}
			#nav-button .bar-bottom {
				margin: 1.25em 0 0 0;
			}
		#menu-logo {
			padding-top: 2.5em;
		}
			nav a {
				font-size: 2.8em;
				line-height: 1.25em;
			}
}